body {
    font-family: sans-serif;
    font-size: 1em;
    }

#outside {
    padding-bottom: 25px;
    }

h1 {
    font-size: 1.5em;
    text-align: center;
    text-transform: capitalize;
    }

form {
    margin: 0 auto;
    width: 70%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    }

#survey-form {
    background-color: lightgoldenrodyellow;
    }

fieldset {
    border: 2px solid darkgray;
    margin: 10px;
    }

legend {
    font-weight: 700;
    text-align: center;
    }

#number {
    width: 150px;
    }

div + div {
    margin-top: 1em;
    }

input, textarea {
    font: 1em sans-serif;
    border: 1px solid #999;
    }

input:focus, textarea:focus {
    border-color: rebeccapurple;
    }

button {
    margin: .5em;
    font-size: 1em;
    text-transform: capitalize;
    background-color: palegreen;
    }

#submit-button {
    display: flex;
    justify-content: center;
    }

select {
    margin-top: 1em;
    margin-bottom: 1em;
    }

